IMMICH_VERSION=release
IMMICH_HTTP_PORT=2283

IMMICH_SERVER_URL=https://your-domain.com/api
IMMICH_WEB_URL=https://your-domain.com
IMMICH_EXTERNAL_DOMAIN=https://your-domain.com

# Database
DB_USERNAME=immich
DB_PASSWORD=changeme
DB_DATABASE_NAME=immich
