NODE_ENV=production
HOST=0.0.0.0
LOG_LEVEL=info

# Application Configuration
BACKEND_PORT=5050
FRONTEND_PORT=3050

# ==================================================
# BACKEND
# ==================================================

# Database Configuration
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=changeme
POSTGRES_DB=weddingeventsdb

JWT_SECRET_KEY=changeme_in_production!

# Permit.io
PERMIT_URL=http://localhost:7766
PERMIT_API_KEY=changeme_in_production!

# Authentication Configuration (set to true to disable auth during development)
DISABLE_AUTH=true

# ==================================================
# FRONTEND
# ==================================================

VITE_API_BASE_URL=http://host.docker.internal:5454
#VITE_API_BASE_URL=http://wendy-api.home
#VITE_API_BASE_URL=https://wendy-api.clabnet.com
