WUD_TRIGGER_SMTP_MAIL_HOST=sandbox.smtp.mailtrap.io
WUD_TRIGGER_SMTP_MAIL_PORT=587
WUD_TRIGGER_SMTP_MAIL_USER=your_smtp_user
WUD_TRIGGER_SMTP_MAIL_PASS=your_smtp_password
WUD_TRIGGER_SMTP_MAIL_FROM_ADDRESS=sender@example.com
WUD_TRIGGER_SMTP_MAIL_TO=recipient@example.com
WUD_TRIGGER_SMTP_MAIL_TLS_ENABLED=false
